*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    height: 100%;
}

.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    background-color: antiquewhite;
    grid-template-areas: 
    "header header header header"
    "main main side side"
    "img img img img";
    gap: 10px;
    grid-template-rows: 120px 1fr 300px;
    grid-template-columns: 2fr 2fr 1fr 1fr;
}
.container *{
min-height: 100px;
}
#rubrik{
    font-size: 3em;
}

header{
    grid-area: header;
    background-color: gray;
    padding: 8px;
    text-align: center;
    font-style: oblique;
    max-height: 120px;
    margin: 5px;
}
main{
    grid-area: main;
    padding: 5px;
    font-size: 200%;
    margin: 5px;
}
aside{
    grid-area: side;
    background-color: black;
    font-size: 200%;
    padding: 8px;
    margin: 5px;
}
aside:hover{
    background-color: #717375;
}
img{
    grid-area: img;
    min-height: 300px;
    background-color: #000000;
    max-height: 300px;
    width: 100vw;
}
#p1{
    font-style: italic;
    text-align: center;
    font-size: 150%;
    background-color: gray;
}
#link{
    font-size: 2em;
    margin-left: 45%;
    border: 8px groove gray;
}
#A{
    width: 100%;
}
aside:hover > #A{
    visibility: visible;
}
aside > #A{
    visibility: hidden;
}
